*
{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body
{
 font-family: Arial, Helvetica, sans-serif;
 background-image: url(../imagens/wallpaper001.jpg);
 margin: auto;
}
h2
{
  text-align: center;
  margin-top: 130px;
  font-size: 2em;
}
div.quadrado
{
  margin-top: 15vh;
  margin-left: 14vh;
  display: inline-block;
  border: 3px solid #000000;
  border-radius: 12px;
  background-color: #ff7f50;
  width: 300px;
  height: 300px;
}
div#Q1
{
  background-image: url('../imagens/pattern001.png');
}
div#Q2
{
  background-image: linear-gradient(to bottom, #00ffff, #0000ff);
}
div#Q3
{
  background-image: linear-gradient(to bottom, #ffc0cb, #800080);
}
div#Q4
{
  background-image:radial-gradient(circle, #f3f031, #c07615);
}
div#Q5
{
 background-image: url('../imagens/pattern002.png');
}
div#Q6
{
 background-image: url('../imagens/pattern004.png');
}
a
{
  color: #6b0606;
}