body
{
  height: 98vh;
  border: 2px dashed black;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7Thtwx4q3at1CIuhZ36QCUORJ4NiGfjZvYg&usqp=CAU);
  background-repeat: no-repeat;
  background-position: right bottom;
}