body
{
  /*height: 100vh;
  background-color: black;
  background-image: url('../imagens/wallpaper002.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  background-attachment: fixed;*/

  /*shorthand -background
    color > image > position > repeat > [size] > attachment*/

  background: black url('../imagens/wallpaper002.jpg') center center no-repeat fixed;
  background-size: cover;
}
main
{
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  max-width: 700px;
  padding: 20px;
  margin: auto;
  border: 3px solid red;
  border-radius: 16px;
  font-size: 1.3em;
}
footer
{
  margin: auto;
  border: 3px solid blue;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 14px;
}
h1{
  text-align: center;
}
p
{
  text-indent: 40px;
}