* 
{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body
{
  background-image: radial-gradient( circle, #1c233b, #181e31, #000000f6);
  font-family: Arial, sans-serif;
  color: azure;
  font-size: 50px;
  font-weight: 900;
}
h1
{
  margin: auto;
  text-align: center;
  padding: 80px;
}
#button
{
  margin: auto;
  text-align: center;
  height: 660px;
  width: 880px;
  margin-top: 280px;

}
button
{
  background-color: #0c313a;
  border: none;
  color: white;
  padding: 40px 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px; 

}
div button:hover
{
 background-color: #d80303;
 box-shadow: 4px 5px 5px 4px #462020e1;
 border-color: rgb(255, 8, 8);
 color: #18311b;
}
